{% extends 'base.html.twig' %}


{% block body %}

    <h1>It's {{d}}</h1>

    <h1>Hello {{user.name}}</h1>

    <ul>
      {% for data in a %}
      <li>{{data}}</li>
      {% endfor%}
    </ul>

{% endblock %}
